.login-main
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bg('bg.jpg');

  .login-form
    width: 300px;
    height: 340px;
    background-color: rgba(0, 0, 0, .2);
    padding: 20px 15px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 15px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .2);

    .logo
      width: 80px;
      height: 80px;
      margin: 0 auto 10px auto;
      icon('logo.png');

    .placerholder-color
      color: rgba(0, 0, 0, .25);

    .ant-form
      .ant-form-item
        .forgot-box
          width: 100%;
          padding: 0 5px;
          display: flex;
          justify-content: space-between;

        .sub-box
          width: 100%;
          padding: 0 5px;
          display: flex;
          justify-content: center;
          align-items: center;

          .ant-btn
            margin-right: 15px;
